<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
  {% if index %}
    {% capture description %}
      {{ site.description }}
    {% endcapture %}
  {% else %}
    {% capture description %}
      {% if page.description %}
        {{ page.description }}
      {% elsif content | excerpt  %}
        {{ content | excerpt }}
      {% else %}
        {{ content | raw_content }}
      {% endif %}
    {% endcapture %}
  {% endif %}
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ root_url }}/favicon.png" rel="icon">
  <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
  <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  <meta name="og:type" content="website" />
  <meta name="og:site_name" content="{{ site.title }}" />
  <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="og:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}" />
  <meta name="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta name="url" content="{{ site.url }}{{ page.url }}">
  {% if page.categories %}
  <meta name="subject" content="{{ page.categories }}"/>
  <meta name="category" content="{{ page.categories }}"/>
  {% endif %}
  <meta name="distribution" content="global">
  {% include custom/head.html %}
  {% include google_analytics.html %}

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ site.url }}/stylesheets/base.css">
	<link rel="stylesheet" href="{{ site.url }}/stylesheets/skeleton.css">
	<link rel="stylesheet" href="{{ site.url }}/stylesheets/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico">
	<link rel="apple-touch-icon" href="{{ site.url }}/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114.png">

</head>
