<nav class="page-nav" role="navigation">
	<ul>
		<li class="nav-home"><a href="/">{{site.title}}</a></li>
		<li><a href="/blog">Posts</a></li>
		<li><a href="/#about">About</a></li>
		<li><a href="/#contact">Contact</a></li>
		{% if site.simple_search %}
			<li class="nav-search">
				<form id="search" method="get" action="{{ site.simple_search }}" role="search">
					<input type="hidden" name="sitesearch" value="{{ site.url | shorthand_url }}">
					<input type="search" id="q" name="q" value="" placeholder="search">
				</form>
			</li>
		{% endif %}
	</ul>
</nav>
